.overview-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.overview-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .75rem;
  margin-bottom: .5rem;
}

.overview-list li:last-of-type {
  margin-bottom: 0;
}

a {
  color: #c2a8fd;
  text-decoration: none;
  transition: color .15s ease;
}

a:hover {
  color: #8c5cf5;
  text-decoration: underline;
}

.no-mt {
  margin-top: 0;
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 2rem 0;
}

.glow-icon {
  color: #8c5cf5;
  filter: drop-shadow(0 0 4px #8c5cf5);
}