---
---
<div class="layout-grid">
  <slot name="left" />
  <slot name="right" />
</div>

<style>
  .layout-grid {
    position: relative;
    align-items: start;
    align-content: stretch;
    display: grid;
    gap: 32px;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto;
  }
</style>