---
const path = Astro.url.pathname;
---
<nav>
  <a class="site-title" href="/">Spectre</a>
  <ul>
    <li>
      <a href="/blog" class:list={{ active: path === '/blog' }}>Blog</a>
    </li>
    <li>/</li>
    <li>
      <a href="/projects" class:list={{ active: path === '/projects' }}>Projects</a>
    </li>
    <li>/</li>
    <li>
      <input id="search" type="text" placeholder="Search (Ctrl+K)" />
      <div id="search-results"></div>
    </li>
  </ul>
</nav>
<script is:inline>
  const searchElement = document.querySelector('#search');
  const results = document.querySelector('#search-results');

  let focusIndex = -1;

  document.addEventListener('keydown', (e) => {
    if (e.key === 'k' && e.ctrlKey) {
      searchElement.focus();
    }

    if (e.key === 'Escape') {
      searchElement.blur();
      results.classList.remove('active');
      focusIndex = -1;
    }

    if (e.key === 'ArrowDown') {
      e.preventDefault();

      focusIndex++;
      const results = document.querySelectorAll('#search-results a');

      if (focusIndex >= results.length) {
        focusIndex = 0;
      }

      results[focusIndex]?.focus();
    }

    if (e.key === 'ArrowUp') {
      e.preventDefault();

      focusIndex--;
      const results = document.querySelectorAll('#search-results a');

      if (focusIndex < 0) {
        focusIndex = results.length - 1;
      }

      results[focusIndex]?.focus();
    }
  });

  searchElement?.addEventListener('focus', () => {
    searchElement.placeholder = '';
    results.classList.add('active');
  });

  searchElement?.addEventListener('blur', () => {
    searchElement.placeholder = 'Search (Ctrl+K)';
  });

  searchElement?.addEventListener('blur', () => {
    setTimeout(() => {
      if (!document.activeElement?.closest('#search-results')) {
        results.classList.remove('active');
        focusIndex = -1;
      }
    }, 1);
  });

  results?.addEventListener('focusout', (e) => {
    if (!e.relatedTarget?.closest('#search-results')) {
      results.classList.remove('active');
      focusIndex = -1;
    }
  });

  searchElement?.addEventListener('input', async (e) => {
    if (e.target.dataset.loaded !== 'true') {
      e.target.dataset.loaded = 'true';

      window.pagefind = await import("/pagefind/pagefind.js");
    }

    results.innerHTML = '';

    const search = await window.pagefind.search(e.target.value);

    let i = 0;
    for (const result of search.results) {
      i++;

      const data = await result.data();
      
      results.innerHTML += `
        <a href="${data.url}">
          <h3 class="no-mt">${data.meta.title}</h3>
          <p>${data.excerpt}</p>
        </a>
        ${i < search.results.length ? '<hr class="separator">' : ''}
      `;
    }

    results.classList.toggle('active', search.results.length > 0);
  });
</script>
<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Geist Mono', monospace;
  }

  .site-title {
    font-weight: 800;
    text-decoration: none;
    font-size: 1.25em;
  }

  nav ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
  }

  nav ul li {
    position: relative;
  }

  nav a {
    color: inherit;
    text-decoration: none;
    padding: .25rem .5rem;
  }

  nav a:hover, nav a:focus-visible, nav a.active {
    background-color: var(--primary);
    outline: none;
  }

  #search {
    background: none;
    border: none;
    outline: none;
    padding: .25rem .5rem;
    width: 160px;
  }

  #search::placeholder {
    color: white;
  }

  #search:focus {
    background-color: var(--primary);
  }

  #search-results {
    position: absolute;
    top: calc(100% + .5rem);
    right: 0;
    background-color: #252525;
    border: 1px solid var(--primary);
    display: none;
    width: 200%;
    z-index: 10;
    padding: .5rem;
  }

  #search-results.active:has(*) {
    display: block;
  }
</style>
<style is:global>
  #search-results a {
    display: block;
    text-decoration: none;
    color: white !important;
    padding: .5rem;
  }

  #search-results a:hover, #search-results a:focus-visible {
    background-color: var(--primary);
    outline: none;
  }

  #search-results a:hover mark, #search-results a:focus-visible mark {
    background-color: #ffffff;
    color: #000000;
  }

  #search-results a h3 {
    margin-bottom: .5rem;
  }

  #search-results a p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  #search-results mark {
    background-color: var(--primary);
    color: white;
  }

  .separator {
    margin: .5rem .5rem;
    border: none;
    height: 1px;
    background-color: #353535;
  }
</style>